# Feel free to add your Python dependencies below. For formatting guidelines, see:
# https://pip.pypa.io/en/latest/reference/requirements-file-format/

apify >= 3.0.0, < 4.0.0
apify-client
langchain-apify >= 0.1.6, < 1.0.0
crewai[tools] >= 0.11.2, < 1.0.0
