# Feel free to add your Python dependencies below. For formatting guidelines, see:
# https://pip.pypa.io/en/latest/reference/requirements-file-format/

apify < 3.0.0
apify-client
arxiv-mcp-server==0.2.11
fastapi==0.117.1
httpx>=0.24.0
mcp==1.13.1
pydantic>=2.0.0
sse-starlette>=3.0.2
uv>=0.7.8
uvicorn>=0.27.0
