# Feel free to add your Python dependencies below. For formatting guidelines, see:
# https://pip.pypa.io/en/latest/reference/requirements-file-format/

# TODO: update version
apify[scrapy] == 1.4.2a1
nest-asyncio ~= 1.5.8
scrapy ~= 2.11.0
