# configurations
.idea
.vscode

# crawlee and apify storage folders
apify_storage
crawlee_storage
storage

# generated test results
playwright-report
test-results.json

# installed files
node_modules

# git folder
.git
