# Feel free to add your Python dependencies below. For formatting guidelines, see:
# https://pip.pypa.io/en/latest/reference/requirements-file-format/

apify < 3.0
apify-client < 2.0
llama-index>=0.12.15
polars>=1.22.0
