# Feel free to add your Python dependencies below. For formatting guidelines, see:
# https://pip.pypa.io/en/latest/reference/requirements-file-format/

apify >= 3.0.0, < 4.0.0
apify-client
llama-index >= 0.14.0, < 1.0.0
polars >= 1.0.0, < 2.0.0
