# Feel free to add your Python dependencies below. For formatting guidelines, see:
# https://pip.pypa.io/en/latest/reference/requirements-file-format/

apify >= 2.3.0,< 3
apify-client < 2.0
llama-index < 1.0.0
polars < 2.0.0
